[Unit]
Description=mumble Container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --interactive \
              --name mumble \
              --publish 80:80 \
              --publish 443:443 \
              --mount type=bind,source=/etc/mumble/sites,target=/etc/mumble/conf.d \
              --mount type=bind,source=/srv,target=/srv \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              hetsh/mumble
ExecStart=/bin/docker start --attach mumble
ExecStop=/bin/docker stop mumble

[Install]
WantedBy=multi-user.target
